.section.cover {
    padding-top: 5.8em;
}

.section {
    position: relative;
    overflow: hidden;
}
.container {
    z-index: 5;
    max-width: 100%;
    padding-right: 40px;
    padding-left: 40px;
}

.w-container {
    margin-left: auto;
    margin-right: auto;
    max-width: 940px;
}
.cover_wrap {
    padding-top: 2.08em;
    opacity: 1;
}