a {
    background-color: transparent
}
.switch_wr {
  top: 0px;
  padding-right: 0em;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}
.switch_wr {
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
  -webkit-justify-content: flex-end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}
.switch {
  position: absolute;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 3em;
  height: 1.5em;
  margin-left: 0em;
  -webkit-box-pack: end;
  -webkit-justify-content: flex-end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-align-self: center;
  -ms-flex-item-align: center;
  align-self: center;
  border-style: solid;
  border-width: 2px;
  border-color: #fff;
  border-radius: 30px;
  background-color: #0c1e3d;
}

.switch {
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}
.nav-link {
  display: block;
  padding: 0px;
  color: #fff;
  font-size: 0.83em;
  font-weight: 600;
  text-transform: uppercase;
}
.nav-link.sw {
    margin-right: 5em;
}
.w-inline-block {
    max-width: 100%;
    display: inline-block;
}
@media screen and (max-width: 991px) {
  .switch_wr {
    position: absolute;
    left: 0%;
    top: auto;
    right: 0%;
    bottom: 4em;
    margin-top: 2vw;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 auto;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
  }
  .nav-link.sw {
        display: block;
        margin-right: 0em;
        font-size: 2.5em;
    }
}
@media screen and (min-width: 1280px) {
  .switch_wr {
    top: 0px;
  }
}

@media screen and (min-width: 1440px) {
  .switch_wr {
    top: 0px;
  }
}
@media screen and (min-width: 1920px) {
  .switch_wr {
    top: 0px;
    padding-right: 0em;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
  }
  .switch {
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
  }
}

@media screen and (max-width: 991px) {
  .switch_wr {
    position: absolute;
    left: 0%;
    top: auto;
    right: 0%;
    bottom: 4em;
    margin-top: 2vw;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 auto;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
  }
  .switch {
    position: relative;
    width: 6em;
    height: 3em;
    margin-left: 3em;
  }
}
@media screen and (max-width: 767px) {
  .switch_wrap {
    width: 100%;
    height: 80px;
  }
}
