a {
  background-color: transparent
}

.switch_wr {
  top: 0px;
  padding-right: 0em;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  position: relative;
}

.switch_wr {
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
  -webkit-justify-content: flex-end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.switch {
  position: absolute;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 3em;
  height: 1.5em;
  margin-left: 0em;
  -webkit-box-pack: end;
  -webkit-justify-content: flex-end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-align-self: center;
  -ms-flex-item-align: center;
  align-self: center;
  border-style: solid;
  border-width: 2px;
  border-color: #fff;
  border-radius: 30px;
  background-color: #0c1e3d;
}

.switch {
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.nav-link {
  display: block;
  padding: 0px;
  color: #fff;
  font-size: 0.83em;
  font-weight: 600;
  text-transform: uppercase;
}

.nav-link.sw {
  margin-right: 5em;
}

.w-inline-block {
  max-width: 100%;
  display: inline-block;
}


@media screen and (max-width: 991px) {
  .nav-link.sw {
    display: block;
    margin-right: 0em;
    font-size: 2.5em;
  }
}

@media screen and (max-width: 991px) {
  .nav-link {
    display: block;
    -webkit-box-ordinal-group: 0;
    -webkit-order: -1;
    -ms-flex-order: -1;
    order: -1;
    font-size: 3.75em;
    line-height: 1;
  }
}

.nav-link {
  display: block;
  padding: 0px;
  color: #fff;
  font-size: 0.83em;
  font-weight: 600;
  text-transform: uppercase;
}

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

@media screen and (max-width: 991px) {
  .switch_wr {
    position: absolute;
    left: 0%;
    top: auto;
    right: 0%;
    bottom: 4em;
    margin-top: 2vw;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 auto;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
  }
}

.nav-link.sw {
  margin-right: 5em;
}

::-webkit-scrollbar {
  width: 5px;
  height: 1px;
}

::-webkit-scrollbar-track {
  background: transparent;
  cursor: grab;
}

::-webkit-scrollbar {
  width: 5px;
  height: 1px;
}

.lines_wrap,
.field_line,
.field_line_2,
.label,
.drop_head,
.switch_circ,
.noize {
  pointer-events: none;
}

.switch_circ {
  position: relative;
  width: 1.5em;
  height: 1.5em;
  margin-right: -1px;
  margin-bottom: -0.5px;
  border: 2px solid transparent;
  border-radius: 30px;
  background-color: #fff;
}
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

div {
  display: block;
  unicode-bidi: isolate;
}