._1_st_section_wrap {
    position: relative;
    overflow: visible;
}
._1_st_section_wrap.pp {
    overflow: hidden;
}
._100vh {
    position: relative;
    overflow: visible;
    height: 100vh;
}
@media screen and (max-width: 991px){
    ._100vh {
        height: 60vh;
    }
                .body {
                    font-size: 7px;
                }
}
@media screen and (max-width: 767px) {
    ._100vh {
        height: auto;
    }
}
.body {
    background-color: #091a36;
    background-image: none;
    background-size: auto;
    font-family: Mont, sans-serif;
    color: #fff;
    font-size: 1vw;
    font-weight: 400;
    cursor: auto;
}
body {
    margin: 0;
    min-height: 100%;
    background-color: #fff;
    font-family: Arial, sans-serif;
    font-size: 14px;
    line-height: 20px;
    color: #333;
}
::-webkit-scrollbar {
    width: 5px;
    height: 1px;
}
::-webkit-scrollbar-thumb {
    background: #E1E1E1;
    border-radius: 8px;
}
::-webkit-scrollbar-track {
    background: transparent;
    cursor: grab;
}
@media screen and (max-width: 991px) {
    .body {
        font-size: 7px;
    }
}
::-webkit-scrollbar-track {
    background: transparent;
    cursor: grab;
}
::-webkit-scrollbar-thumb {
    background: #E1E1E1;
    border-radius: 8px;
}
::-webkit-scrollbar {
    width: 5px;
    height: 1px;
}